@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply min-h-screen flex justify-center items-center bg-gray-800;
}

.form-box {
  @apply flex flex-col gap-3 border border-gray-900  bg-gray-700 px-24 py-24;
}

.login {
  @apply font-bold text-3xl text-gray-300 flex justify-center mb-10;
}

.login-button {
  @apply flex justify-center;
}
